/*=========== TABLE OF CONTENTS ===========
1. Text CSS
2. Container CSS
==========================================*/

/*-------------------------------------
  1. Text CSS
--------------------------------------*/
.ui.text.size-textxs {
    font-size: 38px;
    font-weight: 400;
    font-style: normal;
    @media only screen and (max-width: 1050px) {
      font-size: 36px;
    }
  
    @media only screen and (max-width: 550px) {
      font-size: 34px;
    }
  }
  
  .ui.text.size-texts {
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    @media only screen and (max-width: 1050px) {
      font-size: 44px;
    }
  
    @media only screen and (max-width: 550px) {
      font-size: 38px;
    }
  }
  
  .ui.text.size-textmd {
    font-size: 64px;
    font-weight: 400;
    font-style: normal;
    @media only screen and (max-width: 1050px) {
      font-size: 48px;
    }
  }
  
  .ui.text.size-textlg {
    font-size: 80px;
    font-weight: 400;
    font-style: normal;
    @media only screen and (max-width: 1050px) {
      font-size: 48px;
    }
  }
  
  .ui.text {
    color: var(--white_a700);
    font-family: Anton;
  }
  
  /*-------------------------------------
    2. Container CSS
  --------------------------------------*/
  .container-xs {
    max-width: 1356px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  